extends layout

block content
	// Main jumbotron for a primary marketing message or call to action
	.jumbotron
		.container
			.row
				.col-md-8
					h1 SASSAS!
					p
						| Better known as 'Syntactically Awesome Style Sheets Automated Service' is a tool designed to help developers work with SASS & SCSS.
	.container
		// Example row of columns
		.row
			.col-md-6
				h2 Direct Conversion
				p
					| POST an SCSS file to /api/convert and you will be returned the compiled CSS in the response body.
				pre.
					POST /api/convert HTTP/1.1
					Host: #{settings.url}
					Content-Type: application/x-www-form-urlencoded
					
					------Boundary
					Content-Disposition: form-data; name="file"; filename="file.scss"
					Content-Type: text/css
					------Boundary
														
				h2 Grunt Plugin
				p
					| If you want to use Direct Conversion as part of your Grunt workflow you can use the 
					a(href='https://www.npmjs.org/package/grunt-sassas') grunt-sassas
					|  plugin.
				pre.
					npm install grunt-sassas        
			.col-md-6
				h2 Inline Conversion
				p
					| Embed your SCSS & SASS files directly into your website without needing to compile them!
				p
					| Inline has basic support for @import "more", all includes need to be publically accessable and prefixed with an underscore 
					| i.e. _more.scss
				p Please only use this on development sites as it can be slow.
				pre.
					&lt;link href="#{settings.siteurl}/api/inline?url=&lt;URL>" rel="stylesheet">        
				| Example - Include
				pre.
					&lt;link href="#{settings.url}/api/inline?url=#{settings.url}/res/scss/main.scss" rel="stylesheet">
					
				p
					| Example - 
					a(href='/api/inline?url=https://raw.githubusercontent.com/twbs/bootstrap-sass/master/vendor/assets/stylesheets/bootstrap.scss') Twitter Bootstrap from Github 
		hr
		footer
			p
				a(href='http://hazan.me') © Jon Hazan 2014
	// /container
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '#{settings.analytics}', 'auto');
		ga('send', 'pageview');
